@tailwind base;

@tailwind components;

@tailwind utilities;


html, body {
   @apply absolute w-full h-full bg-white;
   @apply text-root/ml sm:text-root/sm;

}


:root {
   --color-primary: #353535;
   --color-secondary: rgb(150, 130, 125);
   --color-tertiary: hsl(221, 100%, 82%);
   --color-quaternary: rgb(228, 228, 228);
}

*::selection {
   @apply bg-tertiary;
}