@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  @apply fixed w-full h-screen bg-white;
  @apply text-root/md sm:text-root/sm xs:text-root/xs;
}

:root {
  --color-primary: #ff320e;
  --color-secondary: rgb(136, 132, 127);
  --color-tertiary: hsl(22, 100%, 52%);
  --color-quaternary: rgb(228, 228, 228);
}

*::selection {
  @apply bg-tertiary;
}

*:active,
*:focus {
  outline: none;
}
