@tailwind base;

@tailwind components;

@tailwind utilities;


html, body {
   @apply absolute w-full h-full bg-white;
   @apply text-root/ml sm:text-root/sm;

}


:root {
   --color-primary: #353535;
   --color-secondary: rgb(134, 121, 117);
   --color-tertiary: #dbff4c;
   --color-quaternary: rgb(228, 228, 228);
}

*::selection {
   @apply bg-tertiary;
}